

    <table class="hre">
      <% @project = Project.find(task.project_id) %>
     <tr data-task_id="<%= task.id %>">
       <td class='task'>
       <i class="fa fa-square priority_<%= task.priority %> complete_<%= task.completed %>" aria-hidden="true"></i>
         <%= task.task_name %></td>
       <td class="text-right"><%= @project.name %></td>
         <td class = 'text-right'>
          <i class='task colorpro_<%= @project.colorpro %> complete_<%= task.completed %>' >
        <i class="fa fa-circle" aria-hidden="true"></i></i>
           <a class='complitedAction fa fa-check-square-o done action' ></a>
      <%= link_to content_tag('span','', class: 'fa fa-pencil'), edit_task_path(task), class: 'action' %>
           <a class='deleteAction fa fa-trash action '></a>
       </td>
       <hr>
     </tr>
    </table>



