
  <div id="wrapper">
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
          <span>Здравствуйте, <%= current_user.email %></span>
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>

      <h2>TODO   <a class="jmi fa fa-check-circle-o "></a></h2>
    </header>
    <aside>
         <h3 class="next-seven-day"> Next 7 days </h3>

        <h1>Projects</h1>

        <span class="buffer-top">
            <% @projects.each do |project| %>
              <div class="hre">
              <p> <i class="fa fa-circle colorpro_<%= project.colorpro %>" aria-hidden="true"></i>
                <%= link_to project.name, @project, remote: true, class: 'title' %>
                <%= link_to content_tag('span','', class: 'fa fa-pencil '), edit_project_path(project), class: 'action' %>
                <%= link_to content_tag('span','', class: 'fa fa-trash'),  project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action' %>
              </p>
              </div>
          <% end %>

          <span class = 'pro-form'> <%= render 'projects/form', project: @project %></span>

          <a class = 'btn btn-primary click-btn'>Add project</a>
        </span>
    </aside>
    <section>
      <h1>Today <%= Date.current.strftime("%d,%m")%></h1>

      <div class = "standart">
      <% @tasks_old.each do |task| %>
         <%= render partial: 'task', object: task %>
          <hr>
      <% end %>

      <% @tasks.each do |task| %>
          <%= render partial: 'task', object: task %>
            <hr>
        <% end %>
      </div>

      <div class = "complited_task">
       <%= @completed_tasks.each do |task| %>
        <%= render partial: 'task', object: task %>
        <hr>
        <% end %>
      </div>

      <div class = "project_task">
        <%= @project.tasks.each do |task| %>
            <%= render partial: 'task', object: task %>
            <hr>
        <% end %>
      </div>

      <div class = "next-day-seven">
        <%= @next_tasks.each do |task| %>
            <%= render partial: 'task', object: task %>
            <hr>
        <% end %>
      </div>
     <div class = "ta-form" ><%= render 'form', task: @task %></div>
      <a  class = 'btn btn-primary click-btn-task '>Add Task</a>
    </section>
    <footer>.</footer>
</div>
