
    <div class="col-md-12">
      <h1>Projects</h1>
      <h1>Today <%= Date.current.strftime("%d,%m")%></h1>

      <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>

      <div class="buffer-top">
      <p>
        <% @projects.each do |project| %>
            <span class="title"><%= project.name %></span>
            <%= link_to content_tag('span','', class: 'fa fa-pencil'), edit_project_path(project), class: 'action' %>
            <%= link_to content_tag('span','', class: 'fa fa-trash'),  project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action' %>
        <% end %>
      </p>
      </div>
    </div>

